*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.contact{
    margin-top: 10px;
    min-height: 100vh;
    background-color: slategray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(https://cdn.pixabay.com/photo/2022/01/06/11/44/envelopes-6919301_1280.jpg);
}
.contactus{
    height: 450px;
    width: 450px;
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(100, 100, 100, 1);
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.in{
    width:100%;
    border-radius: 7px;
    border: none;
    padding: 10px;
    color: whitesmoke;
    resize: none;

}
.but{
    padding: 5px;
    width: 100px;
    border: none;
    border-radius: 7px;
}

.p span{
    margin: 15px;
}

.contact h4{
    color: whitesmoke;
}


@media only screen and (min-width:300px) and (max-width:650px){

    .overall{
        width: 100%;
    }
     
    .navbar{
        width: 100%;
     
    }
    .nav{
        /* width: 100%; */
    }

    .box{
        /* justify-content: unset; */
        
        
    }
    .box1{
        min-height: 500px;
    }

    .content{
        width: 100%;
        display: unset;
    }
    .content p{
        display: none;
    }

    .inputs{
       padding: 10px;
    }
    .select{
        width: 100%;
        margin: 0px 0px 5px 0px;
        /* width: 260px; */
    }

    .showcase{
        grid-template-columns: auto;

        /* width: 100%; */
    }

    .showcase1{
        /* width: 90%; */
    }

    .about{
        /* flex-direction: column; */
    }
    .about1{

        flex-direction: column;

    }
    .contactus{
        width: 100%;
    }
 
  
}

@media only screen and (min-width:650px) and (max-width:1300px){

    .overall{
        width: 100%;
    }
     
    .navbar{
        width: 100%;
     
    }
    .nav{
        /* width: 100%; */
    }

    .content{
      
        width: 100%;
    }
    .box1{
        min-height: 280px;
    }
    .inputs{
        padding: 10px;
     }
     .select{
         /* width: 100%; */
         margin: 0px 0px 5px 0px;
         width: 260px;
     }
     .showcase{
        grid-template-columns: auto auto;

        /* width: 100%; */
    }


}




